body { 
    text-align: center;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gold;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}
#checkButton {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    
}
#checkButton:hover {
    background-color: yellow;
}
#numberInput {
    padding: 20px 20px;
    width: 200px;
    background-color: black;
    color: azure;
    font-size: 30px;
}
#result {
    color: black;
}